.clearfix { overflow: auto; }
.clearfix::after { content: ""; clear: both; }

body {
  background-color: #000000;
}
#name {
  float: left;
  valign: center;
  color: #aaaaaa;
}
#settings {
  color: #aaaaaa;
  float: right;
  valign: center;
}
#clock {
  z-index: 1;
  position: fixed;
  opacity: 80%;
  top: 25px;
  right: 0;
  width: 100%;
  font-family: 'Roboto Mono', sans-serif;
  background-color: transparent;
  color: #669999;
  font-size: 150px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#bg {
  z-index: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  border: thing solid;
  border-color: #ffffff;
}
